body {
    background-image: url(https://drive.google.com/file/d/1p3G4NYV-o9Orw3dqPQhoYFDKxMzjzOtd/view?usp=drive_link);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(224, 216, 216);
}
